  <div class="social">

    <!-- Facebook -->
    <div>
      <a rel="me" href="https://facebook.com/miguelnieva.com" title="Mike Nieva en Facebook">
        <i class='icon icon-social-facebook' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </div>

    <!-- Twitter -->
    <div>
      <a rel="me" href="https://twitter.com/mikenieva" title="@mikenieva en Twitter">
        <i class='icon icon-social-twitter' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </div>

    <!-- Linkedin -->
    <div>
      <a rel="me" href="https://mx.linkedin.com/in/miguelnieva" title="Mike Nieva en LinkedIn">
        <i class='icon icon-social-linkedin' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </div>

    <!-- Snapchat -->
    <div>
      <a rel="me" href="https://www.snapchat.com/add/mike_nieva" title="mike@miguelnieva.com">
        <i class="icon fi-social-snapchat" style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </div>




  </div>
