<ul class="navegacion" style="">
    <a href="http://miguelnieva.com/">
      <li>Artículos</li>
    </a>
  <a href="http://miguelnieva.com/agenda/">
    <li>Agenda</li>
    </a>
  <a href="http://miguelnieva.com/cursos/">
    <li>Cursos</li>
  </a>
</ul>