{{!< default}}

{{#contentFor "meta"}}
            <meta property="og:title" content="Agenda de Eventos - Miguel Nieva" />
            <meta property="og:site_name" content="{{@blog.title}}" />
            <meta property="og:description" content="¿En dónde estoy participando y dando conferencias? Coincidamos."/>
            <meta property="og:image" content="http://i.imgur.com/ozN4Tnd.jpg">
            <meta property="article:author" content="https://facebook.com/mike.nieva" />
            <meta property="article:published_time" content="{{date format="YYYY-MM-DD"}}" />{{#foreach tags}}
            <meta property="article:tag" content="{{name}}" />{{/foreach}}
            <meta property="fb:profile_id" content="mikenieva" />
            <meta property="fb:admins" content="mikenieva" />
{{/contentFor}}

<div id="encabezado-mobile">
 <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>

  {{> encabezado-social}}
  {{> encabezado-navegacion}}
</div>  


<h1 class="agenda">Agenda</h1>

<p style="font-size: 15px; text-align:center;">
    Para invitaciones, escríbeme a <a href="mailto:mike@miguelnieva.com" style="text-decoration: underline;" target="_blank">mike@miguelnieva.com</a> ó <a href="http://miguelnieva.com/contacto" style="text-decoration: underline;">por aquí.</a>
</p>
<br>
<h2 class="titulos-agenda">Programas</h2>

<!-- Evento -->
<ol id="posts-list">
    <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://platzi.com/clases/comunidad-platzi/live/" target="_blank">
                    <img src="https://i.ytimg.com/vi/Tq3Lhukhxmo/maxresdefault.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://platzi.com/clases/comunidad-platzi/live/">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Comunidad Platzi
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>Todos los lunes. 3pm (MEX-COL).</strong>
                            <br>
                            Ideas y experiencias para ser un destacado profesional en Internet.
                            <br>
                            www.platzi.com/comunidad
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://platzi.com/clases/comunidad-platzi/live/" target="_blank" class="evento-etiquetas">
                        Online
                    </a>
                </span>
            </article>
        </div>
    </li>

</ol>

<h2 class="titulos-agenda">Próximos Eventos</h2>

<ol id="posts-list">	

<!-- Evento -->
    <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://campuse.ro/events/Campus_Party_Mexico_2016/talk/miguel-nieva-la-marca-personal-unos-valen-mas-que-otros-cpmx7-entrepreneurship/" target="_blank">
                    <img src="https://grandecabeza.files.wordpress.com/2014/07/campus-party-2014-mexico-expo-guadalajara-campamento-tecnologico_070114_020645_pm.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://campuse.ro/events/Campus_Party_Mexico_2016/talk/miguel-nieva-la-marca-personal-unos-valen-mas-que-otros-cpmx7-entrepreneurship/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Campus Party México #CPMX7
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>1 Julio 2016. 11am.</strong>
                            <br>
                            Conferencia: "La marca personal. ¿Unos valen más que otros?"
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://campuse.ro/events/Campus_Party_Mexico_2016/talk/miguel-nieva-la-marca-personal-unos-valen-mas-que-otros-cpmx7-entrepreneurship/" target="_blank" class="evento-etiquetas">
                        Jalisco - México
                    </a>
                </span>
            </article>
        </div>
    </li>


<!-- Evento -->
    <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/unimonserrate/" target="_blank">
                    <img src="http://www.unimonserrate.edu.co/images/general/logoprincipal.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/unimonserrate/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            IV Semana de Empresa y Negocio - Fundación Universitaria UNIMONSERRATE
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>13 Mayo 2016. 11am.</strong>
                            <br>
                            Conferencia: "¿Cómo abrirte puertas con educación online?"
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/unimonserrate/" target="_blank" class="evento-etiquetas">
                        Bogotá - Colombia
                    </a>
                </span>
            </article>
        </div>
    </li>



<h2 class="titulos-agenda">2016</h2>

<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/SpaceAppsBogota2016" target="_blank">
                    <img src="http://i.imgur.com/yJ1r3IX.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/SpaceAppsBogota2016" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            NASA Space Apps Bogotá - Pontificia Universidad Javeriana
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>23 Abril 2016.</strong>
                            <br>
                            Mentoría y dirección a participantes.
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/SpaceAppsBogota2016" class="evento-etiquetas" target="_blank">
                        Bogotá - Colombia
                    </a>
                </span>
            </article>
        </div>
    </li>


<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/SWCentro/" target="_blank">
                    <img src="http://i.imgur.com/7SRR5gq.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/SWCentro/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Startup Weekend MEGA Centro
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>16 Abril 2016.</strong>
                            <br>
                            Mentoría y dirección a participantes. Juez de proyectos.
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/SWCentro/" class="evento-etiquetas" target="_blank">
                        Guanajuato - México
                    </a>
                </span>
            </article>
        </div>
    </li>





<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/events/507906649381798/" target="_blank">
                    <img src="https://pbs.twimg.com/media/Cf9YXxyUMAAaYVd.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/events/507906649381798/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Musement Collective - Tecnológico de Monterrey Campus Toluca
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>13 Abril 2016.</strong>
                            <br>
                            Conferencia: "¿Cómo hacer un buen pitch?"
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/events/507906649381798/" class="evento-etiquetas" target="_blank">
                        Toluca - México
                    </a>
                </span>
            </article>
        </div>
    </li>

<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/Startup-Weekend-Toluca-585972081503536" target="_blank">
                    <img src="http://i.imgur.com/ikb0zmC.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/Startup-Weekend-Toluca-585972081503536" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Startup Weekend Toluca
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>1 Abril 2016.</strong>
                            <br>
                            Mentoría y dirección a participantes.
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/Startup-Weekend-Toluca-585972081503536" class="evento-etiquetas" target="_blank">
                        Estado de México - México
                    </a>
                </span>
            </article>
        </div>
    </li>


</ol>



<h2 class="titulos-agenda">2015</h2>

<ol id="posts-list">  



<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/SWGuaymas/" target="_blank">
                    <img src="http://i.imgur.com/ozN4Tnd.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/SWGuaymas/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Startup Weekend Guaymas
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>15 Noviembre 2015.</strong>
                            <br>
                            Mentor y jurado de proyectos.
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/SWGuaymas/" class="evento-etiquetas" target="_blank">
                        Sonora - México
                    </a>
                </span>
            </article>
        </div>
    </li>




<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/iswug/" target="_blank">
                    <img src="http://i.imgur.com/lFgaALp.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/iswug/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Evento Académico de Ingeniería - ITSON
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>14 Noviembre 2015.</strong>
                            <br>
                            Conferencia: "La generación profesional más importante de la Tierra".
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/iswug/" class="evento-etiquetas" target="_blank">
                        Sonora - México
                    </a>
                </span>
            </article>
        </div>
    </li>


<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/Unipolidgo-Software-261274550606325" target="_blank">
                    <img src="https://pbs.twimg.com/media/CSbk3x0UwAAuffX.jpg:large">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/Unipolidgo-Software-261274550606325" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Tercer Congreso Internacional de Tecnología - Universidad Politécnica de Durango
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>28 Octubre 2015.</strong>
                            <br>
                            Conferencia: "8 consejos para destacar en Tecnología".
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/Unipolidgo-Software-261274550606325" class="evento-etiquetas" target="_blank">
                        Durango - México
                    </a>
                </span>
            </article>
        </div>
    </li>



<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/Innovacion2015coatza" target="_blank">
                    <img src="http://i.imgur.com/rlA6o5T.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/Innovacion2015coatza/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Evento Nacional de Innovación Tecnológica 2015 - ITESCO
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>30 Septiembre 2015.</strong>
                            <br>
                            Jurado de proyectos.
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/Innovacion2015coatza/" class="evento-etiquetas" target="_blank">
                        Veracruz - México
                    </a>
                </span>
            </article>
        </div>
    </li>


<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/sw.edomex" target="_blank">
                    <img src="http://i.imgur.com/xg3nq8g.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/sw.edomex" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Startup Weekend Estado de México
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>18-20 Septiembre 2015.</strong>
                            <br>
                            Mentoría a participantes.
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/sw.edomex" class="evento-etiquetas" target="_blank">
                        Estado de México - México
                    </a>
                </span>
            </article>
        </div>
    </li>




<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/TourdeMarketingDigital" target="_blank">
                    <img src="http://i.imgur.com/Fs9pNJH.png">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/TourdeMarketingDigital" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Tour de Marketing Digital 2015
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>3 Septiembre 2015.</strong>
                            <br>
                            Conferencia y panel de emprendedores.
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/TourdeMarketingDigital" class="evento-etiquetas" target="_blank">
                        Ciudad de México - México
                    </a>
                </span>
            </article>
        </div>
    </li>



<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/UJAT.DAIS" target="_blank">
                    <img src="http://i.imgur.com/kLLfzRc.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/UJAT.DAIS" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Foro de Emprendedores UJAT
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>20 Agosto 2015.</strong>
                            <br>
                            Conferencia: "Desarrollo Ágil en Medios Digitales".
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/UJAT.DAIS" class="evento-etiquetas" target="_blank">
                        Tabasco - México
                    </a>
                </span>
            </article>
        </div>
    </li>


<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/EntrepreneurEnEspanol/photos/a.133845273304710.16116.125874504101787/970667332955829/?type=3&theater" target="_blank">
                    <img src="http://i.imgur.com/FFQs8Ml.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/EntrepreneurEnEspanol/photos/a.133845273304710.16116.125874504101787/970667332955829/?type=3&theater" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Campus Party México 2015
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>24 Julio 2015.</strong>
                            <br>
                            Conferencia: "Vender ó Morir"
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/EntrepreneurEnEspanol/photos/a.133845273304710.16116.125874504101787/970667332955829/?type=3&theater" class="evento-etiquetas" target="_blank">
                        Jalisco - México
                    </a>
                </span>
            </article>
        </div>
    </li>


<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://platzi.com/blog/magmaconf-mexico-2015/" target="_blank">
                    <img src="https://scontent-lax1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/p235x350/1973367_10155740860250357_7556886952287026374_o.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://platzi.com/blog/magmaconf-mexico-2015/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            MagmaConf 2015
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>13 Julio 2015.</strong>
                            <br>
                            Conferencia: "Be your best professional self, traveling."
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://platzi.com/blog/magmaconf-mexico-2015/" target="_blank" class="evento-etiquetas" >
                        Colima - México
                    </a>
                </span>
            </article>
        </div>
    </li>

<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.facebook.com/ITESCO.CIICI" target="_blank">
                    <img src="http://i.imgur.com/SUa9ITm.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.facebook.com/ITESCO.CIICI" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            CIICI 2015 ITESCO
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>6 Junio 2015.</strong>
                            <br>
                            Conferencia: "Be your best professional self, traveling."
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.facebook.com/ITESCO.CIICI" target="_blank" class="evento-etiquetas" >
                        Veracruz - México
                    </a>
                </span>
            </article>
        </div>
    </li>


<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="http://miguelnieva.com/vender-o-morir/" target="_blank">
                    <img src="https://platzi.com/blog/wp-content/uploads/2015/05/fin-platzi-conf.jpg">
                </a>
            </div>
            <article class="post">
                <a href="http://miguelnieva.com/vender-o-morir/" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            PlatziConf México 2015
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>2 Mayo 2015.</strong>
                            <br>
                            Conferencia: "Be your best professional self, traveling."
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="http://miguelnieva.com/vender-o-morir/" target="_blank" class="evento-etiquetas" >
                        Ciudad de México - México
                    </a>
                </span>
            </article>
        </div>
    </li>



<!-- Evento -->  
   <li>
        <div class="post-tag">
            <div class="post-image">
                <a href="https://www.youtube.com/watch?v=Ube-jbGgvhc" target="_blank">
                    <img src="https://i.ytimg.com/vi/Ube-jbGgvhc/maxresdefault.jpg">
                </a>
            </div>
            <article class="post">
                <a href="https://www.youtube.com/watch?v=Ube-jbGgvhc" target="_blank">
                    <header class="post-header">
                        <h2 class="post-title evento-titulo">
                            Evento Académico de Comunicación - Instituto Universidad Los Libertadores
                        </h2>
                        <h3 class="evento-descripcion">
                            <strong>26 Marzo 2015.</strong>
                            <br>
                            Conferencia: "Tu vida profesional empieza en Internet."
                        </h3>
                    </header>
                </a>
                <span class="etiquetas">
                    <a href="https://www.youtube.com/watch?v=Ube-jbGgvhc" target="_blank" class="evento-etiquetas" >
                        Bogotá - Colombia
                    </a>
                </span>
            </article>
        </div>
    </li>



</ol>