{{!< default}}

{{#contentFor "meta"}}
            <meta property="og:title" content="Contacto - Miguel Nieva" />
            <meta property="og:site_name" content="{{@blog.title}}" />
            <meta property="og:description" content="Facebook, Twitter, WhatsApp, Snapchat."/>
            <meta property="og:image" content="http://i.imgur.com/kfRlkkv.jpg">
            <meta property="article:author" content="https://facebook.com/mike.nieva" />
            <meta property="article:published_time" content="{{date format="YYYY-MM-DD"}}" />{{#foreach tags}}
            <meta property="article:tag" content="{{name}}" />{{/foreach}}
            <meta property="fb:profile_id" content="mikenieva" />
            <meta property="fb:admins" content="mikenieva" />
{{/contentFor}}

<div id="encabezado-mobile">
 <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>

  {{> encabezado-social}}
  {{> encabezado-navegacion}}
</div>  


<h1 style="text-align: center; margin-bottom: 60px;">Contacto</h1>

<div>
    <a rel="me" href="http://miguelnieva.com/contacto" title="mike@miguelnieva.com">
        <i class='icon icon-mail' style="font-size: 30px;"></i>
        <span class="label"></span>
        <p style="display: inline-block;">mike@miguelnieva.com</p>
    </a>
</div>

<!-- Facebook -->
<div>
  <li class="social item" style="list-style: none;">
    <a rel="me" target="blank" href="https://facebook.com/miguelnieva.com" title="Mike Nieva en Facebook">
      <i class='icon icon-social-facebook'></i>
      <span class="label">Facebook</span>
    </a>
  </li>
</div>

<!-- Twitter -->

<div>
  <li class="social item" style="list-style: none;">
    <a rel="me" target="blank" href="https://twitter.com/mikenieva" title="@mikenieva en Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
</div>

  <!-- Linkedin -->

<div>
  <li class="social item" style="list-style: none;">
    <a rel="me" target="blank" href="https://mx.linkedin.com/in/miguelnieva" title="Mike Nieva en LinkedIn">
      <i class='icon icon-social-linkedin'></i>
      <span class="label">Linkedin</span>
    </a>
  </li>
</div> 


<!-- Instagram -->

<div>
  <li class="social item" style="list-style: none;">
    <a rel="me" target="blank" href="https://instagram.com/mikenieva" title="Mike Nieva en Instagram">
      <i class='icon icon-social-instagram'></i>
      <span class="label">Instagram</span>
    </a>
  </li>
</div> 


<p><strong>WhatsApp:</strong> +52 1 55 30 73 82 20</p>

<p><strong>Snapchat:</strong> mike_nieva</p>

<img style="
    display: block;
    max-width: 100%;
    width: auto;
    margin: 1em 0;
    text-align: justify;" src="http://i.imgur.com/QEVgZeJ.png">

<br>
<br>
<br>
<br>
