{{!< default}}

<div id="encabezado-mobile">
  <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>
{{> encabezado-social}}
{{> encabezado-navegacion}}
</div>
{{#post}}

  <article class="{{post_class}}">
    <header>
        <h1 id="post-title">{{{title}}}</h1>
    </header>
    <div id="post-content" class="{{post_class}}">
      {{content}}
    </div>
    
  </article>
{{/post}}
