{{!< default}}

{{#contentFor "meta"}}
            <meta property="og:title" content="Cursos - Miguel Nieva" />
            <meta property="og:site_name" content="{{@blog.title}}" />
            <meta property="og:description" content="Aprende las mejores técnicas para llegar a tu máximo nivel profesional, en la era de Internet."/>
            <meta property="og:image" content="http://miguelnieva.com/content/images/2015/05/Screen-Shot-2015-05-17-at-5-05-46-PM.png">
            <meta property="article:author" content="https://facebook.com/mike.nieva" />
            <meta property="article:published_time" content="{{date format="YYYY-MM-DD"}}" />{{#foreach tags}}
            <meta property="article:tag" content="{{name}}" />{{/foreach}}
            <meta property="fb:profile_id" content="mikenieva" />
            <meta property="fb:admins" content="mikenieva" />
{{/contentFor}}

<div id="encabezado-mobile">
 <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>

  {{> encabezado-social}}
  {{> encabezado-navegacion}}
</div>  


<h1 style="text-align: center; margin-bottom: 60px;">Cursos</h1>

<h2 style="
    border-bottom: none;
    background: #4091AE;
    border-radius: 4px;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 80px;
    padding: 0;
">Profesionales Web</h2>

<ol id="posts-list">	
  
<li style="
">
    <div class="post-tag">
      <article class="post" style="
    width: 100%;
    margin: 0;
    padding: 0;
">
                  <header class="post-header">
            <h2 class="post-title" style="
    border-bottom: 1px solid;
    padding-bottom: 10px;
">Curso Profesional de Marca Personal</h2>
            <br>
            <div style="width:100%">

<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmiguelnieva.com%2Fvideos%2F584704898363836%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden;width:100%" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

</div>
            <h3 style="
    color: black;
    font-size: .9rem;
    margin: 10px 0;
    width: 100%;">Aprende a desarrollar tu marca personal. Construye un portafolio y comunica masivamente tus habilidades profesionales.
<br>
<br>
 Curso <strong>GRATUITO</strong> del catálogo en Platzi.<br>
</h3>
</header>
      </article>

<div style="
    background: purple;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    margin: 0 30%;
">
  <a href="http://platzi.com/marca">
  <p style="
    color: white;
    text-align: center;
    font-size: 16px;
">Conoce más</p>
  </a>
</div>

    </div>
  </li>

  
</ol>


<h2 style="
    border-bottom: none;
    background: #4091AE;
    border-radius: 4px;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 80px;
	padding: 0;
">Negocios 10x</h2>


<ol id="posts-list">	
  
<li style="
">
    <div class="post-tag">
      <article class="post" style="
    width: 100%;
    margin: 0;
    padding: 0;
">
                  <header class="post-header">
            <h2 class="post-title" style="
    border-bottom: 1px solid;
    padding-bottom: 10px;
">Curso Profesional de Git y GitHub</h2>
<br>
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmiguelnieva.com%2Fvideos%2F593770867457239%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden;width:100%" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
<br>
            <h3 style="
    color: black;
    font-size: .9rem;
    margin: 10px 0;
    width: 100%;
">Gestiona proyectos tecnológicos, domina el arte de la colaboración y lidera tu producto con todas las ventajas del sistema de control de versiones más importante del mundo.
<br>
<br>
 Curso PREMIUM del catálogo en Platzi. <br>
<strong>Suscripción</strong> - $29USD al mes.</h3>
          </header>
      </article>

<div style="
    background: purple;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    margin: 0 30%;
">
  <a href="http://platzi.com/git">
  <p style="
    color: white;
    text-align: center;
    font-size: 16px;
">Conoce más</p>
  </a>
</div>

    </div>
  </li>


  

  

</ol>