{{!< default}}

<h1 style="text-align: center;">{{tag.name}}</h1>
<br>
<ol id="posts-list">	
  <li>
    <div class="post-tag">
      <div class="post-image">
        <a href="#">
          <img src="http://www.azavea.com/blogs/atlas/wp-content/uploads/2013/04/International-Space-Apps-Challenge.jpg">
        </a>
      </div>
      <article class="post">
        <a href="#">
          <header class="post-header">
            <h2 class="post-title">NASA Space Apps Bogotá 2016</h2>
          </header>
        </a>
        <span class="etiquetas"><a href="#">Mentor</a></span>
        <span class="etiquetas"><a href="#">Bogotá - Colombia</a></span>
        <span class="etiquetas"><a href="#">23 Abril</a></span>
        <span class="etiquetas"><a href="#">8:00am</a></span>
      </article>
    </div>
  </li>

  <li>
    <div class="post-tag">
      <div class="post-image">
        <a href="#">
          <img src="http://www.girardot.info/wp-content/uploads/2011/08/db96fa30dd07aec8ebd77bc22380ecb6.jpg">
        </a>
      </div>
      <article class="post">
        <a href="#">
          <header class="post-header">
            <h2 class="post-title">Foro Internacional de Ingeniería de Sistemas - Universidad Piloto de Colombia</h2>
          </header>
        </a>
        <span class="etiquetas"><a href="#">Taller</a></span>
        <span class="etiquetas"><a href="#">Girardot - Colombia</a></span>
        <span class="etiquetas"><a href="#">7 Mayo</a></span>
      </article>
    </div>
  </li>

  <li>
    <div class="post-tag">
      <div class="post-image">
        <a href="#">
          <img src="https://grandecabeza.files.wordpress.com/2014/07/campus-party-2014-mexico-expo-guadalajara-campamento-tecnologico_070114_020645_pm.jpg">
        </a>
      </div>
      <article class="post">
        <a href="#">
          <header class="post-header">
            <h2 class="post-title">Campus Party México 2016</h2>
          </header>
        </a>
        <span class="etiquetas"><a href="#">Conferencia</a></span>
        <span class="etiquetas"><a href="#">Jalisco - México</a></span>
        <span class="etiquetas"><a href="#">1 Julio</a></span>
        <span class="etiquetas"><a href="#">11:00am</a></span>
      </article>
    </div>
  </li>

</ol>
