// ------------------------------
// BASICS
// ------------------------------

html {
  font-size: $unit * 1.125;
  height: 100%;
  max-height: 100%;

  &.expanded {
    overflow-y: hidden;
  }
}

html,
body {
  height: 100%;
}

body {
  color: black;
  font-family: $sans-font;
  background: #f2efe8;
}

mark {
  background: saturate($secondary-color, 60%);
}

::selection {
  background: lighten($secondary-color, 26%);
}

:scrollbar {
  display: none;
}

hr {
  border: 0;
}

// ------------------------------
// TYPOGRAPHY
// ------------------------------

a {
  color: $link-color;
  position: relative;
  text-decoration: none;
  transition: all $aside-animation-time;

  &:hover {
    color: $hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4091AE;
  font-family: $serif-font;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
}

h1 {
  font-size: $font-h1;
  line-height: $line-height * 1.75;
  margin: $margin-h1 0;
}

h2 {
  font-size: $font-h2;
  margin: $margin-h2 0;
  margin-top: 3.5em;
  border-bottom: solid 1px #4091AE;
  padding-bottom: 30px;
}

h3 {
  font-size: $font-h3;
  margin: $margin-h3 0;
}

h4 {
  font-size: $font-h4;
  margin: $margin-h4 0;
}

h5 {
  font-size: $font-h5;
  margin: $margin-h5 0;
}

h6 {
  font-size: $font-h6;
  margin: $margin-h6 0;
}

p {
  line-height: $line-height;
  margin: 2em 0;
  font-family: 'Open Sans', serif;
  font-size: 1rem;
  line-height: 2.3em;
  font-weight: 200;
  text-align: justify;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  border-left: $gray-darkest .25rem solid;
  margin: 2rem 0;
  padding: 0 0 0 1.5rem;

  > p {
    font-family: $quote-font;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    letter-spacing: .01rem;
    word-wrap: break-word;
  }
}

// ------------------------------
// BASIC STYLING
// ------------------------------

ol,
ul {
  margin: 0 0 1.3rem 2.5rem;

  li {
    line-height: $line-height * 1.2;
    margin: 0 0 .2rem;
  }

  ol,
  ul {
    margin: .1rem 0 .2rem 2rem;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

.block-heading {
  @include column(12);
  bottom: -15px;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.label {
  padding: 8px 18px 9px;
}

// ------------------------------
// MAIN LAYOUT
// ------------------------------

main {
  bottom: 0;
  left: 22.5rem;
  padding: 2rem 3rem;
  position: absolute;
  right: 0;
  top: 0;

  > .content {
    margin: 0 3.7rem;
    padding: 2rem 0;

    > h1 {
      margin-bottom: 2.7rem;
    }

    > footer {
      border-top: 2px solid $gray-light;
      color: lighten($gray-dark, 10%);
      display: block;
      font-size: .7em;
      padding: 2em 0 0;
    }
  }
}

.divider {
  border-top: 1px solid $divider-color;
  margin: 10px auto;

  &.long {
    width: 30%;
  }

  &.short {
    width: 15%;
  }

  &.post {
    border-top: 1px solid $gray-light;
    margin: 1.7rem 0;
    width: 30%;
  }
}

.container {
  margin: 0 auto;
  position: relative;
  width: $total-width - $gutter-width;
}

.copyright {
  display: block;
  margin-bottom: .7em;

  a {
    color: lighten($gray-dark, 5%);
    text-decoration: underline;

    &:hover {
      color: $hover-color;
    }
  }
}

.emoji {
  height: 1em !important;
  margin: 0 .05em 0 .1em !important;
  vertical-align: -.1em !important;
  width: 1em !important;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

div.block-socialbuttons
{
    margin: 3em 0 0;
    text-align: left;
}

div.socialbutton
{
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    font-size: 0;
    width: 135px;
}



#mc_embed_signup .button {
clear: both;
background-color: #4091AE;
border: 0 none;
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-size: 15px;
font-weight: bold;
height: 32px;
line-height: 32px;
margin: 0 5px 10px 0;
padding: 0 22px;
text-align: center;
text-decoration: none;
vertical-align: top;
white-space: nowrap;
width: auto;
}

#mc_embed_signup form {
display: block;
position: relative;
text-align: left;
padding: 10px 0 10px 0%;
}
    
#mc_embed_signup #mce-success-response {
color: #166A87;
font-weight: normal;
font-family: 'Open sans';
font-size: 14px;
}

#mc_embed_signup {
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
  margin-top:30px;
} 

#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 20%;
    padding-bottom: 3%;
    min-height: 50px;
    display: inline-block;
    padding-right: 25px;
}

#mc_embed_signup div#mce-responses {
float: left;
top: -1.4em;
padding: 0 !important;
overflow: hidden;
width: 90%;
margin: 0 !important;
clear: both;
}
#mc_embed_signup div.mce_inline_error {
margin: 0 0 1em 0;
padding: 5px 10px;
background-color: #D9D4DA;
font-weight: bold;
z-index: 1;
color: #fff;
font-size: 11px;
font-weight: normal;
}

#mc_embed_signup .mc-field-group input {
    display: block;
    width: 150px;
    padding: 8px 0;
    text-indent: 5%;
}

p.mc-description {
  margin: 0;
  margin-bottom: 20px;
}

#encabezado-mobile {
  padding-bottom: 3rem;
}

h1.blog-title {

    text-align: center; 
    color: black;

}

h2.blog-description {
    margin: 1.5em 0 1.98rem;
    padding-bottom: 30px;
    text-align: center; 
    border-bottom: none; 
    color: black;
}

div.post-tag {
    margin-left: 0px;  
    width: 100%; 
    vertical-align: top; 
    padding-top: 0px; 
    color: rgb(255, 255, 255); 
    display: block;
    margin-bottom: 70px;
}

div.post-tag article {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding: 0 15px;
}

div.post-image {
    display: inline-block;
    width: 20%;
    padding: 5px;
    background: white;
    line-height: 15px;
}


div.post-image a {
  display: inline-block;
}

div.post-image a img {
  width:100%;
}

div.post-header {
  padding-bottom: 1rem;
}

h2.post-title {
  font-size: 23px;
  margin: 0;
}

ul.social {
    text-align: center;
    margin: 0 0 3rem;
}
